/* Home page treatments */

#home {height: 100%;}

#home body {}

#home .masthead .header h1
{
	color: #0A741C;
	font-size: 48px;
	font-family: 'Cabin Condensed';

	text-align: center;

	margin: 0 auto;
}

#home .primary_content
{
	width: 130px;
	height: 130px;
	margin: 20% auto 0 auto;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 100px;
	padding: 4px;
	line-height: 125px;
}

#home .primary_content h2
{
	color: #F1458D;
	font-size: 32px;
	font-family: 'Cabin Condensed';

	text-align: center;

	margin: 0 auto;
}
